.newslist_item {
    border: 1px solid #f2f2f2;
    background: #fff;
    margin-top: 0px;
    padding: 8px 5px 0 5px;
}

.newslist_item h2 {
    font-size: 13px;
    line-height: 21px;
    margin: 5px 0;
    color: #525252;
}
.newslist_item a{
    text-decoration: none;
    
}
.newslist_wrapper {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in;
}
.newslist_wrapper_enter {
    opacity: 1;
    transform: translateX(0%);
}
.blue_btn {
    text-align: center;
    background: #2196f3;
    border-bottom: 1px solid #d7d7d7;
    font-weight: bold;
    color: #eeeeee;
    padding: 9px;
    cursor: pointer;
    font-size: 15px;
    display: block;
    text-decoration: none;
}
.cardNfo  {
    font-size: 11px;
}
.cardNfo i {
    margin-right: 5px;
}
.teamName {
    margin-right: 7px;
    background: #d1d1d1;
    color: #fff;
    padding: 2px 5px;
}
.date {
    color: #2196f3;
    
}